<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/stylesheets/footer.css">
    <title>Footer</title>
</head>

<body>
    <footer>
        <div class="temas">
            <p>Apostas</p>
            <p>Conteúdo</p>
            <p>Suporte</p>
            <p>Legal</p>
        </div>


        <div class="suporte">

            <div class="listas">

                <ul class="apostas">
                    <a href="">
                        <li>Apostas personalizadas</li>
                    </a>
                    <a href="">
                        <li>Apostas Futebol</li>
                    </a>
                    <img src="images/logo22.svg" alt="Logo2022" class="logo23">

                </ul>
                <ul class="conteudo">
                    <a href="">
                        <li>Pagina Inicial</li>
                    </a>
                    <a href="">
                        <li>Notícias</li>
                    </a>
                    <a href="">
                        <li>Depósitos</li>
                    </a>
                </ul>
                <ul class="contato">
                    <a href="">
                        <li>FAQ</li>
                    </a>
                    <a href="">
                        <li>Contate-nos</li>
                    </a>
                    <a href="/about-us">
                        <li>Sobre nós</li>
                    </a>
                </ul>
                <ul class="legal">
                    <a href="">
                        <li>Termos e condições</li>
                    </a>
                    <a href="">
                        <li>Política de Privacidade</li>
                    </a>
                    <a href="">
                        <li>Aposta Responsável</li>
                    </a>
                    <a href="">
                        <li>Regra de Apostas</li>
                    </a>
                </ul>
            </div>
            <img class="line" src="images/Line 4.svg">

            <div class="social">
                <ul class="nomes">
                    <li>Anderson</li>
                    <li>Adilson</li>
                    <li>Luiz</li>
                    <li>Matheus</li>
                    <li>Nicholas</li>
                    <li>Rachel</li>
                </ul>
                <ul class="links">
                    <li>
                        <a href="#"><img src="images/linkedin.svg" alt="linkedin"></a>
                        <a href=""><img src="images/github.svg" alt="Github"></a>
                        <a href=""><img src="images/instagram.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/linkedin.svg" alt="linkedin"></a>
                        <a href=""><img src="images/github.svg" alt="Github"></a>
                        <a href=""><img src="images/instagram.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/linkedin.svg" alt="linkedin"></a>
                        <a href=""><img src="images/github.svg" alt="Github"></a>
                        <a href=""><img src="images/instagram.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/linkedin.svg" alt="linkedin"></a>
                        <a href=""><img src="images/github.svg" alt="Github"></a>
                        <a href=""><img src="images/instagram.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/linkedin.svg" alt="linkedin"></a>
                        <a href=""><img src="images/github.svg" alt="Github"></a>
                        <a href=""><img src="images/instagram.svg" alt=""></a>
                    </li>
                    <li>
                        <a href="#"><img src="images/linkedin.svg" alt="linkedin"></a>
                        <a href=""><img src="images/github.svg" alt="Github"></a>
                        <a href=""><img src="images/instagram.svg" alt=""></a>
                    </li>

                </ul>


            </div>
            <img src="images/logo22.svg" alt="Logo2022" class="logo22">
        </div>
    </footer>
</body>

</html>