
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --darkpurple-color: #190642;
    --lightpurple-color:#5D33B3;
    --yellow-color: #FED501;
    --lightblue-color: #A0CED2;
    --blue-color: #56C5D0;
}
*{
    font-family: 'Roboto';
}
header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--darkpurple-color);
    height: 8vh;
    min-height: 80px;
    box-shadow: 2px 1px 1px 1px gray;
    box-sizing: border-box;
}

header > img{
    min-width: 8vw;
    padding: .825rem .825rem .825rem .825rem;
}

nav.navbar{
    display: flex;
    margin-left: -40px;
    flex-wrap: nowrap;
    
}

nav.navbar a {
    display: none;
    margin-right: 3vw;
    text-decoration: none;
    color: #FED501;
    font-weight: 500;
    font-size: 14px;
}
nav.navbar > input {
    display: none;
    width: 180px;
    border: 1px solid var(--lightpurple-color);
    height: 32px;  
    padding: 0 30px 0 12px;   
    border-radius: 5px; 
    font-size: 12px;
    background: var(--yellow-color) url("images/search.svg") no-repeat 160px center; 
}
nav.navbar > input > ::placeholder{
    color: black;
    z-index: 10;
}

nav.navbar-right a {
    text-decoration: none;
    color: #FED501;
    font-weight: 500;
    font-size: 14px;
    margin-right: 10px;
}

nav.navbar-right button{
    height: 32px;
    color: var(--darkpurple-color);
    font-size: 14px;
    font-weight: 500;
    background-color: #FED501;
    border: none;
    border-radius: 5px;
}

nav.navbar-right{
   padding: 0 0 0 -20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 2vw;
}

footer{
    bottom: 0px;
    position: relative;
    width: 100vw;
}
footer > div.temas{
    background-color: #FED501;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}
footer > div.temas > p{
    color: #190642;
    font-size: 14px;
    font-weight: 500;
    padding-top: 16px;
    width: 100%;
}
footer > div.suporte {
    background-color: #190642;
    display: flex;
    flex-direction: column;
}

footer > div.suporte > div.listas{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
}
footer > div.suporte > div.listas > ul{
    max-width: 24vw;
}

footer > div.suporte > div.listas > ul > a{
    list-style: none;
    text-decoration: none;
    color: #FED501;
    background-color: #190642;
    font-size: 12px;
    padding: 1px 20px 5px 20px;
    
    width: 24vw;

}
footer > div.suporte > div.listas > ul > a > li{
    margin-bottom: 0px;
    margin-right: 30px;
}

footer > div.suporte > img.line{
    width: 80vw;
    margin-left: 10vw;
}

footer > div.suporte > div.social{
    display: flex;
    justify-content: space-between;
}
footer > div.suporte > div.social > ul.nomes{
    list-style: none;
    color: #FED501;
    font-size: 14px;
    margin-top: 20px;
}
footer > div.suporte > div.social > ul.nomes> li{
    margin-top: 4px;
}
footer > div.suporte > div.social > ul.links{
    list-style: none;
    margin-right: 20px;
    margin-top: 18px;
}

footer > div.suporte > div.social > ul.links > li > a > img{
    width: 18px;
    margin-right: 8px;
}
footer > div.suporte > img.logo22{
    width: 120px;
    display: flex;
    margin-left: 35vw;
}
footer > div.suporte > div.listas > ul.apostas > img.logo23{
    display:none;
}


@media (min-width: 690px){
    nav.navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav.navbar a{
        display: flex;
    }
    nav.navbar-right{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        max-width: 180px;
        margin-right: 10px;
    }
    nav.navbar > input {
        display: none;
    }
    footer {
        background-color: #FED501;
        width: 100%;
    }
    footer > div.suporte{
        display: flex;
        flex-direction: row;
    }
    footer > div.temas{
        display: flex;
        justify-content: space-between;
        padding: 8px 0 8px 30px ;
        max-width: 60%;
        min-width: 380px;
    }
    footer > div.suporte{
        display: flex;
        justify-content: space-between;
        max-width: 100vw;
    
    }
    footer > div.suporte > div.listas > ul > a > li{
        margin-right: 2vw;
        font-size: 13px;
    }
    footer div.suporte > img.line{
        display: none;
    }

    footer > div.suporte > div.social{
        display: flex;
        justify-content: space-between;
        margin-left: -250px;
    }
    footer > div.suporte > div.social > ul.links{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        margin-left: 5vw;
    
    }
    footer > div.suporte > div.social > ul.links > li{
        margin-top: 1px;
    }
    footer > div.suporte > img.logo22{
        display: none;
    }
}

@media(min-width:690px){
    nav.navbar > input {
        display: flex;
    }
    footer > div.temas{
        max-width: 60vw;
    }
    
    footer > div.suporte > img.logo22{
        display: none;
    }
    footer > div.suporte > div.listas{
        max-width: 65vw;
       margin-right: 30px;
    }
    footer > div.suporte > div.listas > ul.apostas > img.logo23{
        display:flex;
        margin-top: 70px;
    }

}
@media(min-width:890px){
    footer > div.temas{
        max-width: 580px;
    }
    nav.navbar > input {
        display: flex;
        width: 220px;
        background: var(--yellow-color) url("images/search.svg") no-repeat 190px center;
    }
}
@media(min-width:1000px){
    footer div.suporte > img.line{
        display: flex;
        transform: rotate(90deg);
        width: 200px;
        
        margin: 0vw 15vw 0vw 1vw;
    }
    footer > div.temas{
        max-width: 55vw;
        margin-left: 2vw;
    }
}
@media(min-width:1400px){
    footer > div.temas{
        max-width: 40vw;
        margin-left: 2vw;
    }
}