<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/stylesheets/aboutUs.css">
    <title>BetFriends</title>
</head>
<body>
    <header>
        <% include ./partials/header %>
    </header>
    <main>
        <div class="snos">
            <h2>Sobre-nós</h2>
            <p> Somos uma equipe que conhece o Brasil e sabe muito bem o que o Brasileiro gosta. Diversão, Memes, Interação e... Apostas! No momento em que nosso grupo se uniu para pensar em ideias para nosso Projeto Integrador, uma das opções chamou muita a atenção. Um site de Apostas! 
                <br class="br">
                Apesar de parecer muito complicado nós aceitamos o desafio e fomos pesquisar mais sobre o assunto! E descobrimos que os ites de apostas são inflexíveis, difíceis de entender, praticamente voltados somente para os esportes e muitos deles nem davam chances aos e-sports (esportes online), mas o mais interesante...ninguem criava apostas de forma simples, nem mesmo uma que pudesse ser feita entre amigos e de qualquer outro assunto!
                <br class="br">
                E aí estava, o tema perfeito! não iriamos criar site um simples! Não! Inventariamos moda e nos desafiaríamos a sermos melhores!
                <br class="br">
                E aqui estamos! 
                <br class="br">
                Criamos um lugar para diversão entre amigos, para se divertirem com qualquer assunto que quiserem, elevar o nivel do jogo e aumentar os riscos de cada copo vazio e de cada paredão que rolasse!</p>
                <div class="imagens">
                    <div class="imagens1">
                        <img src="../images/foto.svg" alt=""><p>Nome Sobrenome</p>
                        <img src="../images/foto.svg" alt=""><p>Nome Sobrenome</p>
                        <img src="../images/foto.svg" alt=""><p>Nome Sobrenome</p>
                    </div>

                    <div class="imagens2">
                        <img src="../images/foto.svg" alt=""><p>Nome Sobrenome</p>
                        <img src="../images/foto.svg" alt=""><p>Nome Sobrenome</p>
                        <img src="../images/foto.svg" alt=""><p>Nome Sobrenome</p>
                    </div>
                    
                </div>
        </div>
        <img src="../images/Banner 3.svg" alt="" class="banner">
        <img src="../images/main - section - Noticias.svg" alt="" class="crsl">
    </main>
    
    <footer>
    <% include ./partials/footer %>
    </footer>
    
</body>
</html>