@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --darkpurple-color: #190642;
  --lightpurple-color: #5d33b3;
  --yellow-color: #fed501;
  --lightblue-color: #a0ced2;
  --blue-color: #56c5d0;
}

* {
  font-family: "Roboto", serif;
}
/* header */

html {
  overflow-x: hidden;
  font-family: 'Roboto', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main{
  
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

main .top-aposta{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

main .top-aposta h1{
  color: var(--yellow-color);
  font-size: 2rem;
}

main .top-aposta h3{
  color: var(--yellow-color);
  font-size: 1rem;
}

main .mid-aposta{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

main .mid-aposta ul{
  color: var(--yellow-color);
  font-size: 14px;
}

main .mid-aposta ul p {
  font-size: 18px;
  margin-left: -25px;
  font-weight: 500;
}

main .mid-aposta label{
  color: var(--yellow-color);
  margin-bottom: 10px;
  font-weight: 500;
}

main .mid-aposta input{
  width: 100%;
  border-radius: 5px;
  height: 40px;
  border: none;
  margin-bottom: 10px;
  background-color: var(--blue-color);
}
main .valor-data{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

main .mid-aposta .radios{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}
main .mid-aposta .radios label{
  white-space: nowrap;
  margin: 0;
  margin-right:60px;
}

main .mid-aposta .radios input[type="radio"]{
  height: 16px;
  margin-right: 10px;
  margin-top: 4px;
}
.priv-pub{
  color: var(--yellow-color);
  font-size: 16px;
  font-weight: 600;
  margin-top: 2rem;
}
.mid-aposta form .btn {
  display: flex;
}
.mid-aposta form .btn button{
  background-color: var(--lightpurple-color);
  border: none;
  color: var(--yellow-color);
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  padding: 8px;
}

.mid-aposta form .btn button:hover{
  background-color: #4a2494;
  color: var(--yellow-color);
}