@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --darkpurple-color: #190642;
  --lightpurple-color: #5d33b3;
  --yellow-color: #fed501;
  --lightblue-color: #a0ced2;
  --blue-color: #56c5d0;
}

* {
  font-family: "Roboto", serif;
}
/* header */

html {
  overflow-x: hidden;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: var(--darkpurple-color);
  height: 8vh;
  min-height: 80px;
  box-shadow: 2px 1px 1px 1px gray;
  box-sizing: border-box;
}

header > img {
  min-width: 8vw;
  padding: 0.825rem 0.825rem 0.825rem 0.825rem;
}

header > .dropdown {
  display: flex;
  margin-left: 50vw;
  padding: initial;
  background-color: var(--darkpurple-color);
  position: relative;
  border: none;
}
header > .dropdown > .btn {
  color: #190642;
  background-color: #190642;
  border: none;
}

.dropdown-toggle::after {
  content: none;
  border: none;
}

header > .dropdown > ul.dropdown-menu {
  background-color: var(--yellow-color);
  font-size: 1.2rem;
  width: 100vw;
}
header > .dropdown > ul.dropdown-menu > li > a.dropdown-item:hover {
  background-color: var(--darkpurple-color);
  color: #fed501;
}

nav.navbar {
  display: flex;
  margin-left: -40px;
  flex-wrap: nowrap;
}

nav.navbar a {
  display: none;
  margin-right: 3vw;
  text-decoration: none;
  color: #fed501;
  font-weight: 500;
  font-size: 14px;
}
nav.navbar > input {
  display: none;
  width: 180px;
  border: 1px solid var(--lightpurple-color);
  height: 32px;
  padding: 0 30px 0 12px;
  border-radius: 5px;
  font-size: 0.825rem;
  background: var(--yellow-color) url("./images/search.svg") no-repeat 160px
    center;
}

nav.navbar-right > a.apostas {
  color: var(--yellow-color);
  text-decoration: none;
  font-size: 0.825rem;
  margin-right: 1.5rem;
  white-space: nowrap;
}
nav.navbar-right > .btn-group > ul.dropdown-menu {
  background-color: var(--yellow-color);
}
nav.navbar-right > .btn-group > ul.dropdown-menu > li > a:hover {
  background-color: #190642;
  color: var(--yellow-color);
}
nav.navbar-right > .btn-group > ul.dropdown-menu > li > a {
  text-decoration: none;
  color: var(--darkpurple-color);
  font-size: 1rem;
  margin-right: 10px;
}

nav.navbar-right .btn-group button.btn {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--yellow-color);
  margin-right: 2vw;
}

nav.navbar-right .btn img {
  align-items: center;
  margin-left: -4px;
}

nav.navbar-right {
  padding: 0 0 0 -20px;
  display: none;
  flex-wrap: nowrap;
  align-items: center;
}
/* botoes cheio da sacanagem */
.tab-links {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

div.tab-links button {
  color: #fed501;
  border: none;
  background: transparent;
  text-transform: uppercase;
  padding: 16px;
  font-weight: bold;
  outline: none;
  position: relative;
}

div.tab-links button::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  height: 3px;
  width: 0%;

  background-color: #fed501;
  transition: 0.4s;
}

div.tab-links button:hover::after,
div.tab-links button.active::after {
  width: 100%;
}

.tab-content > section {
  animation: up 1s;
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
  }
}

.apostador-novato,
.apostador-experiente {
  display: flex;
  align-content: center;
  justify-content: center;
}

/* formularios */
main {
  background-color: #190642;
}
div.formulario-veterano form,
div.form-1-aposta form {
  display: flex;
  flex-direction: column;
  justify-content: start;
  place-items: start;
  margin-left: 10vw;
  margin-right: 5vw;
}

.titulo-principal {
  display: flex;
  justify-content: center;
  color: #fed501;
  font-size: 1.6rem;
  margin-left: 10vw;
  margin-right: 10vw;
}

div.formulario form {
  font-size: 1.2rem;
}

.label-rachel,
p.paragrafos {
  display: block;
  margin-top: 25px;
  margin-bottom: 5px;
  color: #fed501;
}

.input-rachel-esp {
  width: 68vw;
  font-size: 1rem;
  padding: 10px;
  border-radius: 3px;
  background: #56c5d0;
  border: none;
  margin-bottom: 15px;
}

.input-rachel {
  font-size: 1rem;
  padding: 10px;
  border-radius: 3px;
  background: #56c5d0;
  border: none;
  margin-bottom: 15px;
}

.input-rachel::placeholder {
  color: rgba(25, 6, 66, 0.5);
  font-weight: bold;
}

#regras,
#regras2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.mais-menos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.adicionar-remover input {
  font-size: 1rem;
  padding: 10px;
  border-radius: 3px;
  background: #56c5d0;
  border: none;
  margin-bottom: 15px;
}
.datas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

input#hora {
  margin-left: 5px;
}

.listas-no-form {
  display: block;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 50px;
  color: #fed501;
}

.radios-rachel input {
  border: 1px solid #fed501;
}

.radios-rachel input + label::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #fed501;
  margin-right: 8px;
  margin-bottom: 3px;
}

input#Publico {
  margin-left: 100px;
  width: 20px;
  height: 25px;
}

input#publico {
  width: 20px;
  height: 25px;
}

input#Cambista {
  margin-left: 100px;
  width: 20px;
  height: 25px;
}

input#cambista {
  width: 20px;
  height: 25px;
}

.radios-rachel {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  gap: 7px;
}

.radios-rachel2 {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
  gap: 7px;
}

.botao-comecar-aposta1,
.botao-comecar-aposta2 {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 10px;
  background: #5d33b3;
  border-radius: 3px;
  color: #fed501;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border: none;
}
/* footer */

footer {
  bottom: 0px;
  position: relative;
  width: 100vw;
}
footer > div.temas {
  background-color: #fed501;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}
footer > div.temas > p {
  color: #190642;
  font-size: 14px;
  font-weight: 500;
  padding-top: 16px;
  width: 100%;
}
footer > div.suporte {
  background-color: #190642;
  display: flex;
  flex-direction: column;
}

footer > div.suporte > div.listas {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
}
footer > div.suporte > div.listas > ul {
  max-width: 24vw;
}

footer > div.suporte > div.listas > ul > a {
  list-style: none;
  text-decoration: none;
  color: #fed501;
  background-color: #190642;
  font-size: 12px;
  padding: 1px 20px 5px 20px;

  width: 24vw;
}
footer > div.suporte > div.listas > ul > a > li {
  margin-bottom: 0px;
  margin-right: 30px;
}

footer > div.suporte > img.line {
  width: 80vw;
  margin-left: 10vw;
}

footer > div.suporte > div.social {
  display: flex;
  justify-content: space-between;
}
footer > div.suporte > div.social > ul.nomes {
  list-style: none;
  color: #fed501;
  font-size: 14px;
  margin-top: 20px;
}
footer > div.suporte > div.social > ul.nomes > li {
  margin-top: 4px;
}
footer > div.suporte > div.social > ul.links {
  list-style: none;
  margin-right: 20px;
  margin-top: 18px;
}

footer > div.suporte > div.social > ul.links > li > a > img {
  width: 18px;
  margin-right: 8px;
}
footer > div.suporte > img.logo22 {
  width: 120px;
  display: flex;
  margin-left: 35vw;
}
footer > div.suporte > div.listas > ul.apostas > img.logo23 {
  display: none;
}

/* RESPONSIVIDADE AQUI */

@media (min-width: 1000px) {
  div.formulario-veterano form,
  div.form-1-aposta form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    place-items: start;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  .titulo-principal {
    display: flex;
    justify-content: center;
    color: #fed501;
    font-size: 1.6rem;
    margin-left: 20vw;
    margin-right: 20vw;
  }

  .input-rachel-esp {
    width: 30vw;
    font-size: 1rem;
    padding: 10px;
    border-radius: 3px;
    background: #56c5d0;
    border: none;
    margin-bottom: 15px;
  }

  .input-rachel {
    font-size: 1rem;
    padding: 10px;
    border-radius: 3px;
    background: #56c5d0;
    border: none;
    margin-bottom: 15px;
  }
  .radios-rachel input {
    border: 1px solid #fed501;
  }
}

@media (min-width: 690px) {
  nav.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  nav.navbar a {
    display: flex;
  }
  nav.navbar-right {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    max-width: 180px;
    margin-right: 10px;
  }
  nav.navbar > input {
    display: none;
  }
  footer {
    background-color: #fed501;
    width: 100%;
  }
  footer > div.suporte {
    display: flex;
    flex-direction: row;
  }
  footer > div.temas {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 8px 30px;
    max-width: 60%;
    min-width: 380px;
  }
  footer > div.suporte {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
  }
  footer > div.suporte > div.listas > ul > a > li {
    margin-right: 2vw;
    font-size: 13px;
  }
  footer div.suporte > img.line {
    display: none;
  }

  footer > div.suporte > div.social {
    display: flex;
    justify-content: space-between;
    margin-left: -250px;
  }
  footer > div.suporte > div.social > ul.links {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin-left: 5vw;
  }
  footer > div.suporte > div.social > ul.links > li {
    margin-top: 1px;
  }
  footer > div.suporte > img.logo22 {
    display: none;
  }
}

@media (min-width: 690px) {
  nav.navbar > input {
    display: flex;
  }
  footer > div.temas {
    max-width: 60vw;
  }

  footer > div.suporte > img.logo22 {
    display: none;
  }
  footer > div.suporte > div.listas {
    max-width: 65vw;
    margin-right: 30px;
  }
  footer > div.suporte > div.listas > ul.apostas > img.logo23 {
    display: flex;
    margin-top: 70px;
  }
}
@media (min-width: 890px) {
  footer > div.temas {
    max-width: 580px;
  }
  nav.navbar > input {
    display: flex;
    width: 220px;
    background: var(--yellow-color) url("images/search.svg") no-repeat 190px
      center;
  }
}
@media (min-width: 1000px) {
  footer div.suporte > img.line {
    display: flex;
    transform: rotate(90deg);
    width: 200px;

    margin: 0vw 15vw 0vw 1vw;
  }
  footer > div.temas {
    max-width: 55vw;
    margin-left: 2vw;
  }
}
@media (min-width: 1400px) {
  footer > div.temas {
    max-width: 40vw;
    margin-left: 2vw;
  }
}

@media (min-width: 690px) {
  nav.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  nav.navbar a {
    display: flex;
  }
  nav.navbar-right {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    max-width: 180px;
    margin-right: 10px;
  }
  header > .dropdown {
    display: none;
  }
  nav.navbar > input {
    display: none;
  }

  /* footer */
  footer {
    background-color: #fed501;
    width: 100%;
  }
  footer > div.suporte {
    display: flex;
    flex-direction: row;
  }
  footer > div.temas {
    display: flex;
    justify-content: space-between;
    padding: 8px 0 8px 30px;
    max-width: 60%;
    min-width: 380px;
  }
  footer > div.suporte {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
  }
  footer > div.suporte > div.listas > ul > a > li {
    margin-right: 2vw;
    font-size: 13px;
  }
  footer div.suporte > img.line {
    display: none;
  }

  footer > div.suporte > div.social {
    display: flex;
    justify-content: space-between;
    margin-left: -250px;
  }
  footer > div.suporte > div.social > ul.links {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin-left: 5vw;
  }
  footer > div.suporte > div.social > ul.links > li {
    margin-top: 1px;
  }
  footer > div.suporte > img.logo22 {
    display: none;
  }
}
/* Responsivo */
@media (min-width: 690px) {
  nav.navbar > input {
    display: flex;
  }
  footer > div.temas {
    max-width: 60vw;
  }

  footer > div.suporte > img.logo22 {
    display: none;
  }
  footer > div.suporte > div.listas {
    max-width: 65vw;
    margin-right: 30px;
  }
  footer > div.suporte > div.listas > ul.apostas > img.logo23 {
    display: flex;
    margin-top: 70px;
  }
}
@media (min-width: 890px) {
  footer > div.temas {
    max-width: 580px;
  }
  nav.navbar > input {
    display: flex;
    width: 220px;
    background: var(--yellow-color) url("images/search.svg") no-repeat 190px
      center;
  }
}
@media (min-width: 1000px) {
  footer div.suporte > img.line {
    display: flex;
    transform: rotate(90deg);
    width: 200px;

    margin: 0vw 15vw 0vw 1vw;
  }
  footer > div.temas {
    max-width: 55vw;
    margin-left: 2vw;
  }
}
@media (min-width: 1400px) {
  footer > div.temas {
    max-width: 40vw;
    margin-left: 2vw;
  }
}
