
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --darkpurple-color: #190642;
    --lightpurple-color:#5D33B3;
    --yellow-color: #FED501;
    --lightblue-color: #A0CED2;
    --blue-color: #56C5D0;
}
*{
    font-family: 'Roboto';
}

html{
    overflow-x: hidden;
}

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--darkpurple-color);
    height: 8vh;
    min-height: 80px;
    box-shadow: 2px 1px 1px 1px gray;
    box-sizing: border-box;
}

header > img{
    min-width: 8vw;
    padding: 10px;
}

header  > .dropdown{    
    display: flex;
    margin-left: 50vw;
    padding: initial ;
    background-color:var(--darkpurple-color);
    position: relative;
    border: none;
}
header > .dropdown > .btn{
    color: #190642;
    background-color: #190642;
    border: none;
    
} 

.dropdown-toggle::after{
    content: none;
    border: none;
}


header > .dropdown > ul.dropdown-menu{
    background-color: var(--yellow-color);
    font-size: 1.2rem;
    width: 100vw;
}
header > .dropdown > ul.dropdown-menu > li> a.dropdown-item:hover{
    background-color: var(--darkpurple-color);
    color: #FED501;
}

nav.navbar{
    display: flex;
    margin-left: -40px;
    flex-wrap: nowrap;
    
}

nav.navbar a {
    display: none;
    margin-right: 3vw;
    text-decoration: none;
    color: #FED501;
    font-weight: 500;
    font-size: 14px;
}
nav.navbar > input {
    display: none;
    width: 160px;
    border: 1px solid var(--lightpurple-color);
    height: 32px;  
    padding: 0 30px 0 12px;   
    border-radius: 5px; 
    font-size: .825rem;
    background: var(--yellow-color) url("../images/search.svg") no-repeat 140px center; 
}

nav.navbar-right > a.apostas {
    color: var(--yellow-color);
    text-decoration: none;
    font-size: 0.825rem;
    margin-right: 1.5rem;
    white-space: nowrap;
}
nav.navbar-right > .btn-group > ul.dropdown-menu{
    background-color: var(--yellow-color);
}
nav.navbar-right > .btn-group > ul.dropdown-menu > li > a:hover {
    background-color: #190642;
    color: var(--yellow-color);
}
nav.navbar-right > .btn-group > ul.dropdown-menu > li > a {
    text-decoration: none;
    color: var(--darkpurple-color);
    font-size: 1rem;
    margin-right: 10px;
}

nav.navbar-right .btn-group button.btn{
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--yellow-color);
    margin-right: 2vw;
    
}

nav.navbar-right .btn img{
    align-items: center;
    margin-left: -4px;
}


nav.navbar-right{
   padding: 0 0 0 -20px;
    display: none;
    flex-wrap: nowrap;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    background-color: var(--blue-color);
    width: 100vw;
    padding-bottom: 1rem;
}
main > h1{
    font-size: 1.5rem;
    color: var(--darkpurple-color);
    padding: 1rem .5rem .5rem 1rem;
}
main > div.optperfil{
    width: 100vw;
}
main > div.optperfil > div.options{
    display: none;
    background-color: var(--yellow-color);
    width: 220px;
    border-radius: 7px;
    max-height: 160px;
}

main > div.optperfil > div.options > ul{
    list-style: none;
    padding: 10px 10px 10px 10px;
    
}

main > div.optperfil > div.options > ul > li{
    margin-bottom: 10px;
}
main > div.optperfil > div.options > ul > li > a{
    text-decoration: none;
    color: #190642;
    font-size: 1rem;
    white-space: nowrap;
}
main > div.optperfil > .coluna2 > .deposito{
    background-color: var(--darkpurple-color);
    width: 100vw;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    flex-direction: column;


}
main > div.optperfil > .coluna2 > .deposito > h2{
    color: var(--yellow-color);
    font-size: 1.2;
    margin: 2rem auto 2rem auto;
}
main > div.optperfil > .coluna2 > .deposito > .deposito-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
main > div.optperfil > .coluna2 > .deposito > .deposito-top > .left p{
    color: var(--yellow-color);
    margin-top: 2rem;
    margin-right: 4rem;
    align-items: center;
    font-size: 1rem;
}
main > div.optperfil > .coluna2 > .deposito > .deposito-top > .right p{
    color: var(--yellow-color);
    margin-top:2rem;
    margin-left: 40px;
}
main > div.optperfil > .coluna2 > .deposito > .deposito-top > .right> img{
    width: 75px;
    margin-top: 1rem;
}
main > div.optperfil > .coluna2 > .deposito > p{
    color: var(--yellow-color);
    margin: auto;
}

main > div.optperfil > .coluna2 > .deposito > img.pix{
    width: 120px;
    margin-left: 60%;
    margin-top: 30px;
    margin-bottom: -10px;
}
main > div.optperfil > .coluna2 > .deposito > hr.solid{
    color: var(--yellow-color);
    height: 2.5px;
    opacity: 100%;
    width: 70%;
    margin-left: 15%;
}
main > div.optperfil > .coluna2 > .deposito > input{
    height: 3rem;
    background-color: var(--lightblue-color);
    width: 60%;
    margin: -5px auto 3px auto;
    border-radius: 6px;
}
main > div.optperfil > .coluna2 > .deposito > table{
    color: var(--yellow-color);
    text-align: center;
    margin-left: -15px;
}
main > div.optperfil > .coluna2 > .deposito > button{
    color: var(--darkpurple-color);
    background-color: var(--yellow-color);
    border-radius: 10px;
    height: 2.5rem;
    width: 60%;
    margin:0px auto 1rem auto;
    border: none;
}



footer{
    bottom: 0px;
    position: relative;
    width: 100vw;
}
footer > div.temas{
    background-color: #FED501;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100vw;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}
footer > div.temas > p{
    color: #190642;
    font-size: 14px;
    font-weight: 500;
    padding-top: 16px;
    width: 100vw;
}
footer > div.suporte {
    background-color: #190642;
    display: flex;
    flex-direction: column;
}

footer > div.suporte > div.listas{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
footer > div.suporte > div.listas > ul{
    max-width: 24vw;
}

footer > div.suporte > div.listas > ul > a{
    list-style: none;
    text-decoration: none;
    color: #FED501;
    background-color: #190642;
    font-size: 12px;
    padding: 1px 20px 5px 20px;
    
    width: 24vw;

}
footer > div.suporte > div.listas > ul > a > li{
    margin-bottom: 0px;
    margin-right: 30px;
}

footer > div.suporte > img.line{
    width: 80vw;
    margin-left: 10vw;
}

footer > div.suporte > div.social{
    display: flex;
    justify-content: space-between;
}
footer > div.suporte > div.social > ul.nomes{
    list-style: none;
    color: #FED501;
    font-size: 14px;
    margin-top: 20px;
}
footer > div.suporte > div.social > ul.nomes> li{
    margin-top: 4px;
}
footer > div.suporte > div.social > ul.links{
    list-style: none;
    margin-right: 20px;
    margin-top: 18px;
}

footer > div.suporte > div.social > ul.links > li > a > img{
    width: 18px;
    margin-right: 8px;
}
footer > div.suporte > img.logo22{
    width: 120px;
    display: flex;
    margin-left: 35vw;
}
footer > div.suporte > div.listas > ul.apostas > img.logo23{
    display:none;
}


@media (min-width: 690px){
    nav.navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    nav.navbar a{
        display: flex;
    }
    nav.navbar-right{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        max-width: 180px;
        margin-right: 10px;
    }
    header > .dropdown {
        display: none;
    }
    nav.navbar > input {
        display: none;
    }
    
    main > h1{
        display: none;
    }
    main > div.optperfil{
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        width: 100vw;
    }

    main > div.optperfil > div.options {
        display: flex;
        margin-right: 5vw;
        margin-left: 10vw;
    }
    main .optperfil > .coluna2{
        width: 60vw;
    }
    main > div.optperfil >div.coluna2 > .ldeposito > button{
        margin-left: 5%;
    }
    main > div.optperfil > .coluna2 > .deposito{
        width: 50vw;
    }
    main > div.optperfil > .coluna2 > .deposito > input{
        max-width: 400px;
    }
    main > div.optperfil > .coluna2 > .deposito > table{
        max-width: 600px;
        margin-left: 18%;
        margin-right: 18%;
    }


    footer {
        background-color: #FED501;
        width: 100vw;
    }
    footer > div.suporte{
        display: flex;
        flex-direction: row;
    }
    footer > div.temas{
        display: flex;
        justify-content: space-between;
        padding: 8px 0 8px 30px ;
        max-width: 60vw;
        min-width: 380px;
    }
    footer > div.suporte{
        display: flex;
        justify-content: space-between;
        max-width: 100vw;
    
    }
    footer > div.suporte > div.listas > ul > a > li{
        margin-right: 2vw;
        font-size: 13px;
    }
    footer div.suporte > img.line{
        display: none;
    }

    footer > div.suporte > div.social{
        display: flex;
        justify-content: space-between;
        margin-left: -250px;
    }
    footer > div.suporte > div.social > ul.links{
        display: flex;
        flex-direction: column;
        white-space: nowrap;
        margin-left: 5vw;
    
    }
    footer > div.suporte > div.social > ul.links > li{
        margin-top: 1px;
    }
    footer > div.suporte > img.logo22{
        display: none;
    }

    nav.navbar > input {
        display: flex;
    }
    footer > div.temas{
        max-width: 60vw;
    }
    
    footer > div.suporte > img.logo22{
        display: none;
    }
    footer > div.suporte > div.listas{
        max-width: 65vw;
       margin-right: 30px;
    }
    footer > div.suporte > div.listas > ul.apostas > img.logo23{
        display:flex;
        margin-top: 70px;
    }

}
@media(min-width:890px){
    footer > div.temas{
        max-width: 580px;
    }
    main > div.optperfil > .coluna2 > .deposito{
        width: 60vw;
    }

    nav.navbar > input {
        display: flex;
        width: 220px;
        border: 1px solid var(--lightpurple-color);
        height: 32px;  
        padding: 0 30px 0 12px;   
        border-radius: 5px; 
        font-size: .825rem;
        background: var(--yellow-color) url("../images/search.svg") no-repeat 180px center; 
    }
   
}
@media(min-width:1000px){
    footer div.suporte > img.line{
        display: flex;
        transform: rotate(90deg);
        width: 200px;
        
        margin: 0vw 15vw 0vw 1vw;
    }
    footer > div.temas{
        max-width: 55vw;
        margin-left: 2vw;
    }
    main > div.optperfil > .coluna2 > .deposito > table{
        max-width: 600px;
        margin-left: 26%;
        margin-right: 25%;
    }

}
@media(min-width:1400px){
    footer > div.temas{
        max-width: 40vw;
        margin-left: 2vw;
    }
}