@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*=== GERAL =================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

:root {
  --hue: 190;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);

  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --brand-light-2: hsl(calc(var(--hue) + 10), 14%, 97%);
  --brand-dark: hsl(var(--hue), 100%, 14%);

  --darkpurple-color: #190642;
  --lightpurple-color: #5d33b3;
  --yellow-color: #fed501;
  --lightblue-color: #a0ced2;
  --blue-color: #56c5d0;
  --gray-ligth-color: #b8b6bd;

  --bg-light: hsl(180, 14%, 97%);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html {
  /* chrome://flags/#smooth-scrolling */
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--darkpurple-color);
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
}

body main {
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--darkpurple-color);
}

main .wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2rem;
  background-color: var(--darkpurple-color);
}

main ul {
  list-style: none;
}

main img {
  max-width: 100%;
}

main section {
  padding-block: 10rem;
}

main section div h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--gray-ligth-color);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

main section div h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--gray-ligth-color);
}

main section div h1 {
  font-size: 3.4rem;
  color: var(--gray-ligth-color);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

main section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--gray-ligth-color);
}

main .button {
  background: var(--yellow-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  color: var(--darkpurple-color);
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 200ms;
}

main .button:hover {
  background-color: var(--brand-dark);
  color: white;
}

/* custom colors */
main #services .card circle {
  fill: var(--brand-light);
}

main #backToTopButton circle {
  fill: var(--primary-color);
}

/*=== #HOME =================================*/
main #home {
  padding-block: 0;
  padding-top: calc(0.01rem + var(--nav-height));
}

main #home::before {
  content: '';
  width: 100%;
  height: calc(76% + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main #home .button {
  margin-inline: auto;
}

main #home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--gray-ligth-color);

  margin-bottom: 3.2rem;
}

main #home img {
  width: 40rem;
  height: 100%;
  margin-top: 5rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem;
  border-radius: 1rem;
}

main #home .stats {
  width: 100%;
  padding-block: 4rem;
  margin-inline: auto;

  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

main #home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

main #home .stat p {
  margin: 0;
  color: var(--darkpurple-color);
  font-size: 1.6rem;
  line-height: 150%;
}

/*=== SERVICES =================================*/
main #services div h2 {
  margin-bottom: 6rem;
}

main #services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

main #services img {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 1rem;
}

/*=== ABOUT =================================*/
main #about {
  text-align: center;
  background-color: var(--darkpurple-color);
}

main #about div h2 {
  margin-bottom: 2.4rem;
}

main #about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

main #about img {
  border-radius: 1rem;
}

/*=== CONTACT =================================*/
main #contact {
  text-align: left;
}

main #contact div {
  margin-bottom: 3.2rem;
}

main #contact ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  color: var(--gray-ligth-color);

  margin-bottom: 3.2rem;
}

main #contact ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

main #contact ul li a {
  color: var(--gray-ligth-color);
  text-decoration: none;
}

#contact li path {
  stroke: var(--gray-ligth-color);
}

/*=== RESPONSIVO =================================*/
@media (min-width: 1024px) {
  /*=== GERAL =================================*/
  body {
    overflow: auto;
  }

  main .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  main .col-a {
    grid-area: A;
  }

  main .col-b {
    grid-area: B;
  }

  main section {
    padding-block: 16rem;
  }

  main section div h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  /*=== HOME =================================*/
  main #home::before {
    height: calc(96% - var(--nav-height));
  }

  main #home {
    padding-top: 0;
  }

  main #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas:
      'A B'
      'C C';
  }

  main #home .col-a {
    text-align: left;
    align-self: center;
  }

  main #home h1 {
    font-size: 5.2rem;
  }

  main #home .content p {
    font-size: 1.8rem;
  }

  main #home .stats {
    grid-area: C;

    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }

  main #home .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }

  main #home .stats .stat {
    flex: 1;
  }

  main #home .button {
    margin: 0;
  }

  main #home img {
    width: 42rem;
  }

  /*=== SERVICES ===============================*/
  main #services {
    padding-top: 15rem;
  }
  
  main #services h2 {
    width: 47rem;
    margin-inline: auto;
  }

  main #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  /*=== ABOUT ===============================*/
  main #about {
    padding-block: 0rem;
  }

  main #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  main #about .col-a {
    align-self: center;
  }

  main #about .col-b img {
    padding-top: 10rem;
    width: 100%;
  }

  main #about .content p {
    margin-bottom: 0;
  }

  /*=== CONTACT ===============================*/
  main #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B';
  }

  main #contact h2 {
    width: 40.4rem;
  }
}
