@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root{
    --darkpurple-color: #190642;
    --lightpurple-color:#5D33B3;
    --yellow-color: #FED501;
    --lightblue-color: #A0CED2;
    --blue-color: #56C5D0;
}
*{
    font-family: 'Roboto';
}
html{
    overflow-x: hidden;
}
body{
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
main .top-main{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 2rem;
}
main .top-main img{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 5px 1px #120431;
    
}

main .mid-main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}
.mid-main h2{
    color:var(--yellow-color);
    margin-right: auto;
    margin-left: auto;
}
.mid-main .aposta {
    padding: 1.125rem;
    background-color: var(--blue-color);
    border-radius: 8px;
    box-shadow: 2px 2px 2px #3b1194;
    height: 110px;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1000px;
    
}
.mid-main .aposta .rank p{
    border: 2px solid #2e0d74;
    padding: 5px;
    margin-top: 14px;
}
.mid-main .aposta .titulo p{
    margin-top: 16px;
    padding: 10px;
    text-align: center;
}

.mid-main .aposta .info{
    line-height: 2px;
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
    margin-left: 1rem;
}
.mid-main .aposta .info p.main-info{
    font-weight: 600;
    color: var(--darkpurple-color);
}
.mid-main .aposta .btns{
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 2rem;
    height: 80px;
    align-content: center;
    width: 25%;
}
.mid-main .aposta .btns label{
    color: var(--darkpurple-color);
    font-weight: 600;
    text-align: center;
    margin-top: -2px;
    margin-bottom: -2px;
}
.mid-main .aposta .btns button{
    height: 2rem;
    border-radius: 8px;
    background-color: #5D33B3;
    color: #FED501;
    font-weight: 600;
    margin-top: -10px;
}
.mid-main .aposta .btns p{
    display: flex;
    width: 100%;
    text-align: center;
    height: 2rem;
    justify-content: center;
    margin-top: 4px;
}
.mid-main .aposta .btns .side{
    margin: auto;
}
